body {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}
h1 {
  font-size: 30px;
}
div {
  margin: 0px auto;

}

table {
    table-layout: fixed;
    overflow: hidden;
  margin-left: auto;
  margin-right: auto;
    font-size: 20px;
  border-spacing: 1px;
  border-collapse: separate;
  text-align: center;
}
td {
    overflow: hidden;
    text-align: center;
    font-size: 19px;
    width: 28px;
    height: 28px;
    background-color: #ffe0bd;
    font-family: 'Roboto Mono', monospace;
    color: black;
}
td:hover {
    outline: 2px solid blue;
}
trow {
  height: 1px;
}

input {
  float:left;

}


#settings {
  text-align: left;
    font-size: 10px;
}
button {
  background-color: inherit;
  border-style:solid;
  font-size: 25px;
}
#mineDis {
  float:left;
}

.gameLocation {
    font-size: 10px;
}
.flagged {
    background-color: #ffad60;
    color: white;
}

.bomb {
    background-color: #b1885c;
}
.focusBomb {
  background-color: red;
}

.revealed {
    background-color: #ffe6e6;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
